<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Create New Band</title>
    </head>
    <body>
        <h1>Create New Band</h1>
        <form action="/bands" method="post">
            <label for="name">Band Name:</label>
            <input type="text" name="name" value="">
            <label for="info">Band Info:</label>
            <input type="text" name="info" value="">
            <input type="submit" name="submit" value="Create A Band">
        </form>
    </body>
</html>
