<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Welcome to our site</title>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            <li><a href="/bands">Bands list</a></li>
            <li><a href="/songs">Songs list</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </body>
</html>
